body {
  background: rgb(19, 19, 19);
  background: linear-gradient(
    0deg,
    rgba(19, 19, 19, 1) 60%,
    rgba(60, 94, 88, 1) 92%
  );
  color: white;
}
.jumbotron {
  background: rgb(80, 126, 117);
  background: linear-gradient(
    0deg,
    rgba(80, 126, 117, 1) 0%,
    rgba(141, 219, 205, 1) 83%
  );
}
.main-image {
  width: 230px;
  height: 202px;
  vertical-align: top;
  box-shadow: 25px 18px 90px rgba(0, 0, 0, 0.45),
    -23px -16px 19px rgba(0, 0, 0, 0.16);
}

.song-info {
  border-bottom: solid 1px rgb(100, 99, 99);
  margin-bottom: 2rem;
  padding-bottom: 0;
}
.list-song{
  line-height: 23px;
}
.song-title{
  padding-left: 19px;
}
.song-number{
  position: absolute;
  right: 20.5em;
  top: 9px;
}
.place-holder{
  opacity: 0;
}
.list-song img {
  vertical-align: top;
}

.list-song::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 22px;
  left: 0;
  right: 336px;
  margin: auto;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent white;
  opacity: 0;
  cursor: pointer;
}

.little-heart,
.dots {
  opacity: 0;
}
.one{
 height: 57px;
 padding-top: 0.5em;
}
.one:hover .little-heart {
  opacity: 1;
}
.one:hover .dots {
  opacity: 1;
}

.one:hover .list-song::before {
  opacity: 1;
}

.one:hover {
  background-color: rgb(59, 58, 58);
  border-radius: 4px;
}
.one:hover .song-number {
  opacity: 0;
}
/* .song-info {
 
} */




.play-button {
  width: 60px;
  height: 60px;
  background-color: #27ae60;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
}

.play-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent #fcfcfc;
}
.play-button:hover{
 width: 62px;
 height: 62px;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.Throwbacks {
  font-size: 70px;
  font-weight: 900;
  line-height: 72px;
}
