body {
  background-color: black;
  color: rgb(185, 183, 183);
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.spotify-logo {
  height: 70px;
  width: 100px;
}
.spotify-logo::after {
  content: "Spotify";
}
footer > div > div::after {
  content: "Upgrade to premium";
  text-align: white;
}

.plus-btn {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #b6b6b6;
  padding: 0;
  margin: auto;
}

.plus-btn::before {
  content: "";
  position: absolute;
  width: 0.1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: black;
}
.plus-btn::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: black;
}
li {
  overflow-y: auto;
  white-space: nowrap;
}
.search:hover,
.home:hover,
.library:hover,
.liked:hover,
.create:hover {
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: black;
}
