body {
  background-color: #121212;
  font-family: Helvetica, sans-serif;
}

.row-cols-1 > * {
  margin-bottom: 20px;
}
.card-text {
  line-height: 18px;
}
.card {
  background-color: #171717;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
  background-color: rgb(56, 55, 55);
}
.spotify-badge {
  position: absolute;
  top: 21px;
  left: 21px;
}
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 13px;
}

.play {
  position: absolute;
  bottom: 21px;
  right: 21px;
  font-size: x-large;
  display: none;
}
.card:hover .play {
  display: block;
}
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bolder;
  font-size: 14px;
}
.see-all-para a {
  text-decoration: none;
  font-size: 10px;
}
.img-thumbnail {
  background-color: #171717 !important;
  border: 1px solid #171717 !important;
  object-fit: cover;
}

/* @media (min-width: 576px) {
  .card-sec {
    width: 200px;
    height: 260px;
    overflow: hidden;
  }
  .imgs {
    width: 200px;
    height: 160px;
    object-fit: cover;
    /* padding-right: 6rem; */
  }
}
@media (max-width: 575px) {
  .card-sec {
    width: 200px;
    height: 260px;
    overflow: hidden;
  }
  .imgs {
    width: 200px;
    height: 160px;
    object-fit: cover;
    /* padding-right: 6rem; */
} */
